# Introduction To Data Structures (Lists, Tuples, Sets, Dictionaries)

## Data Structures
#### List [12,'red',True] - Ordered ,  Changable(Mutable) , Allows Duplicates
#### Tuple (12,'red',True) - Ordered ,  Unchangable(Immutable) , Allows Duplicates
#### Set {12,'red',True} - Unordered ,  Addable/removable , No Duplicates
#### Dictionary {'key':'val'} - Unordered ,  Changable(Mutable) , No Duplicates

## Data Structures: Defining and Indexing

In [19]:
## Defiining Data Structures

## List
L = [1,3,4.9,'name',3]

## Tuple
T = (1,3,4.9,'name',3)

## Set
S = {1,3,4.9,'name',3}

## Dictonary
D = {23:'twothree','B':43,'C':'CCD'}

In [15]:
print('The Type of L is',type(L))
print('The Type of T is',type(T))
print('The Type of S is',type(S))
print('The Type of D is',type(D))

The Type of L is <class 'list'>
The Type of T is <class 'tuple'>
The Type of S is <class 'set'>
The Type of D is <class 'dict'>

In [21]:
## Indexing Data Structures

print(L[0])
print(T[0])
print(3 in S)
print(D[23])

1
1
True
twothree

In [25]:
## Notice the duplicate 3 at the end of the set is missing. There are no duplicates in SETS!
S

{1, 3, 4.9, 'name'}

In [30]:
## List Indexing is similar to strings!

L[1:3]

[3, 4.9]

In [34]:
## Tuples index very similar to lists!

T[:3]

(1, 3, 4.9)

## Data Structures: Insertion and Deletion

In [60]:
## Insert

L = L+ ['game']
print(L)

print('Tuples cannot be changes!!')

S.add('hello World')
print(S)

D['Key'] = 'Value'
print(D)

## Delete
print('-------------------------------------------------')

del L[5]
print(L)

print('Tuples cannot be changes!!')

S.remove('hello World')
print(S)

del D['Key']
print(D)

[1, 3, 4.9, 'name', 3, 'game']
Tuples cannot be changes!!
{1, 3, 4.9, 'hello World', 'name'}
{23: 'twothree', 'B': 43, 'C': 'CCD', 'Key': 'Value'}
-------------------------------------------------
[1, 3, 4.9, 'name', 3]
Tuples cannot be changes!!
{1, 3, 4.9, 'name'}
{23: 'twothree', 'B': 43, 'C': 'CCD'}

In [73]:
## Updates multiple inputs into a set

S.update({9,10,11,12})
S

S.remove(9)
S.remove(10)
S.remove(11)
S.remove(12)
S

{1, 3, 4.9, 'name'}

## Data Structures: Deep Copy and Reference Slicing

In [83]:
## Concatonate a dictonary

D2 = {'key2':'value2','apple':'red',99:100}

D.update(D2)
D

{23: 'twothree',
 'B': 43,
 'C': 'CCD',
 'key2': 'value2',
 'apple': 'red',
 99: 100}

In [91]:
## Copy a List/Set/Dictonary

## Example what not to do
## L2 is assigned to the same memory place as L when copied in this way
L2 = L
L2[1] = 'hello world'

## Notice both we're updates

print('L2 = ', L2)
print('L = ', L)

L = [1,3,4.9,'name',3]

## Notice only one updates because it was assigned to a new list, not the same list 
print('------------------------------------------------')

print('L2 = ', L2)
print('L = ', L)

## Noticew now only 1 updates with the copy being made but at different memor points! great! This is how you copy a list 
print('------------------------------------------------')

L2 = L.copy()
L2[1] = 'hello world'
print('L2 = ', L2)
print('L = ', L)

L2 =  [1, 'hello world', 4.9, 'name', 3]
L =  [1, 'hello world', 4.9, 'name', 3]
------------------------------------------------
L2 =  [1, 'hello world', 4.9, 'name', 3]
L =  [1, 3, 4.9, 'name', 3]
------------------------------------------------
L2 =  [1, 'hello world', 4.9, 'name', 3]
L =  [1, 3, 4.9, 'name', 3]

In [93]:
## Slicing

L[2] = 4.9
print(L)

[1, 3, 4.9, 'name', 3]

In [97]:
## Copy list by slicing
## L3 is a completly new list due to the slicing making an sutomatic copy of L similar to L.copy()


L3 = L[1:5]
print(L3)

[3, 4.9, 'name', 3]

## Data Structures: Methods

In [115]:
## List Methods

print(help(L.append))
print('--------------------------')
print(help(L.clear))
print('--------------------------')
print(help(L.pop))
print('--------------------------')
print(help(L.count))
print('--------------------------')
print(help(L.insert))
print('--------------------------')
print(help(L.reverse))
print('--------------------------')
print(help(L.sort))

Help on built-in function append:

append(object, /) method of builtins.list instance
    Append object to the end of the list.

None
--------------------------
Help on built-in function clear:

clear() method of builtins.list instance
    Remove all items from list.

None
--------------------------
Help on built-in function pop:

pop(index=-1, /) method of builtins.list instance
    Remove and return item at index (default last).

    Raises IndexError if list is empty or index is out of range.

None
--------------------------
Help on built-in function count:

count(value, /) method of builtins.list instance
    Return number of occurrences of value.

None
--------------------------
Help on built-in function insert:

insert(index, object, /) method of builtins.list instance
    Insert object before index.

None
--------------------------
Help on built-in function reverse:

reverse() method of builtins.list instance
    Reverse *IN PLACE*.

None
--------------------------
Help on built-in function sort:

sort(*, key=None, reverse=False) method of builtins.list instance
    Sort the list in ascending order and return None.

    The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
    order of two equal elements is maintained).

    If a key function is given, apply it once to each list item and sort them,
    ascending or descending, according to their function values.

    The reverse flag can be set to sort in descending order.

None

## Data Structures: Abstract Uses

In [126]:
## Lists,Tuples, and Dictionaries can contain other data structures
## Notice how D2 can contain other data structures

## List
L = [1,3,4.9,'name',3]

## Tuple
T = (1,3,4.9,'name',3)

## Set
S = {1,3,4.9,'name',3}

## Dictonary
D = {23:'twothree','B':43,'C':'CCD'}

D2 = {'A':L,'B':T,'C':S,'D':D}
print(D2)

{'A': [1, 3, 4.9, 'name', 3], 'B': (1, 3, 4.9, 'name', 3), 'C': {1, 3, 4.9, 'name'}, 'D': {23: 'twothree', 'B': 43, 'C': 'CCD'}}

In [128]:
D2['A'][1]

3

In [130]:
## We can assign values of a dictonary to variables
k = D2['D']
k

{23: 'twothree', 'B': 43, 'C': 'CCD'}

In [132]:
## We can then use those variables in something like a for loop

for x in k:
    print(x,k[x])

23 twothree
B 43
C CCD

In [134]:
## Lists can also contain data structures

L3 = [L,T,D,23,'game']
L3

[[1, 3, 4.9, 'name', 3],
 (1, 3, 4.9, 'name', 3),
 {23: 'twothree', 'B': 43, 'C': 'CCD'},
 23,
 'game']

In [138]:
type(L3[2])

dict

In [144]:
## You can also fill lists with loops within the list!

L3 = [x**2 for x in  range(10)]
L3

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [146]:
## Sets can also be used in this same way!

S3 = {x**2 for x in range(2,20,3)}
S3

{4, 25, 64, 121, 196, 289}

## Data Structures: Practice Problems!

#### Problem: Create a data structure for a teacher who has students with different class grades. They want to type the students name as associate their grades to that name.
#### Then we want to find the average grade of the students.

In [194]:
studentDict = {}

In [196]:
def getDataFromUser():
    D = {}
    while True:
        studentID = input('Enter Student ID: ')
        marksList = input('Enter the students marks by comma separated values: ')
        D[studentID] = marksList.split(',')
        
        moreStudents = input('Enter "yes" to enter another student or "no" to end: ')
        if moreStudents.lower == 'no':
            break
        else:
            pass
        
    return D

Enter Student ID:  Jake
Enter the students marks by comma separated values:  99,88,77,66,55,44
Enter "yes" to enter another student or "no" to end:  yes
Enter Student ID:  Mike
Enter the students marks by comma separated values:  100,99,88,67,45
Enter "yes" to enter another student or "no" to end:  yes
Enter Student ID:  Sara
Enter the students marks by comma separated values:  100,99,98,97,96,95,94,93,92,91,50,0
Enter "yes" to enter another student or "no" to end:  yes
Enter Student ID:  Rye
Enter the students marks by comma separated values:  10,20,30,40,50
Enter "yes" to enter another student or "no" to end:  no

{'Jake': ['99', '88', '77', '66', '55', '44'],
 'Mike': ['100', '99', '88', '67', '45'],
 'Sara': ['100',
  '99',
  '98',
  '97',
  '96',
  '95',
  '94',
  '93',
  '92',
  '91',
  '50',
  '0'],
 'Rye': ['10', '20', '30', '40', '50']}

In [200]:
def avgScoreFinder(Dic):
    for key in Dic:
        avg = 0
        divider = 0
        for val in Dic[key]:
            avg += int(val)
            divider += 1
        avg = avg / divider
        print(key+"'s average score is: " , avg)

        
avgScoreFinder(studentDict)

Jake's average score is:  71.5
Mike's average score is:  79.8
Sara's average score is:  83.75
Rye's average score is:  30.0

In [205]:
studentDict.update(getDataFromUser())
print(studentDict)

Enter Student ID:  dave
Enter the students marks by comma separated values:  77,76,75,54
Enter "yes" to enter another student or "no" to end:  yes
Enter Student ID:  josh
Enter the students marks by comma separated values:  90,90,80,76
Enter "yes" to enter another student or "no" to end:  no

{'Jake': ['99', '88', '77', '66', '55', '44'], 'Mike': ['100', '99', '88', '67', '45'], 'Sara': ['100', '99', '98', '97', '96', '95', '94', '93', '92', '91', '50', '0'], 'Rye': ['10', '20', '30', '40', '50'], 'dave': ['77', '76', '75', '54'], 'josh': ['90', '90', '80', '76']}

In [207]:
avgScoreFinder(studentDict)

Jake's average score is:  71.5
Mike's average score is:  79.8
Sara's average score is:  83.75
Rye's average score is:  30.0
dave's average score is:  70.5
josh's average score is:  84.0